h2 , h1, p {
    text-align: center;
}

#education-section {
	box-shadow: 0 0 5px white;
	border-radius: 5px;
	border: 2px solid white;
	background : #212121;
	padding: 10px;
	place-items: center;
	width: auto;
	height: auto;
	margin-left: 20px;
}