h2 , h1, p {
    text-align: center;
}

#education-section {
	border-radius: 5px;
	border: 2px solid white;
	background-color: rgb(0, 68, 186);
	padding: 20px;
	display: grid;
	place-items: center;
	width: auto;
	height: auto;
	margin-left: 20px;
}