#my-project{
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

#project-image{
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  width: 20em;
  height: 200px;
}