@font-face{
	font-family: titlesTipo;
	src: url(fuentes/fFinish.ttf);
}

body{
  background-color: black;
}

main {
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "presentation presentation"
    "experience education"
    "experience skills"
    "projects projects"
  ;
  grid-template-columns: 50% 50%;
}

section {
  margin: 20px;
}

.experience-article{
  border-radius: 10px;
  padding: 20px;
  border: 3px solid white;
  background-color: rgb(29, 101, 173);
}

.rsp-list {
  text-align: center;
  list-style: none;
}

.rsp-list, li{
  margin: 5px;
  font-size: 13px;
}

*{
  font-family: 'titlesTipo';
  color: white;
}


.div-buttons button{
  color: red;
}



#skills-article{
  border-radius: 10px;
  border: 3px solid white;
  background-color: rgb(0, 145, 178);
}