@font-face{
	font-family: titlesTipo;
	src: url(fuentes/fFinish.ttf);
}

body{
  background-color: black;
}

main {
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "presentation presentation"
    "experience education"
    "experience skills"
    "projects projects"
  ;
  grid-template-columns: 50% 50%;
}

section {
  margin: 20px;
}

.experience-article{
  display: grid;
  place-items: center;
}


*{
  font-family: 'titlesTipo';
  color: white;
}


.div-buttons button{
  color: red;
}

#skills-summary{
  display : flex;
  justify-content: space-evenly;
  margin-top: 30px;

  & span{
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 5s linear infinite;
    animation-delay: calc(400ms * var(--i));
  }
}

@keyframes zoomup {
  0%,
  100% {
    transform: scale(1.2);
    color: white;
    text-shadow: 0 0 5px white;
  }

  5%,
  95% {
    transform: scale(1);
    color: #fff;
    text-shadow: none;
  }
}